@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



body{
  background-color:#240090;
  color:white;
  font-family: 'Roboto Slab';
  width:100%;
}

#signUp{
  margin:auto;
  margin-top:86px;
  margin-bottom:86px;
  border: 1px solid black;
  border-radius:14px;
  background-color:#33158B;
  text-align:center;
  height:853px;
  width: 853px;
  font-size:40px;
  h1{
    margin-top:25px;
    margin-bottom: 42px;
  }
  input{
    width: 666px;
    height: 83px;
    margin-bottom:49px;
    font-size:36px;
  }
  input::placeholder{
      color:black;
      opacity: 1;
    }
  #submit-button{
    background-color: #3500D3;
    border:none;
    border-radius:7px;
    color:white;
  }
}

#login{
  margin:auto;
  margin-top:86px;
  margin-bottom:86px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius:14px;
  background-color:#33158B;
  text-align:center;
  height:853px;
  width: 853px;
  font-size:40px;
  h1{
    margin-top:37px;
    margin-bottom: 111px;
  }
  input{
    margin-bottom:76px;
    width:666px;
    height:83px;
    font-size:36px;
  }
  #submit-button{
   background-color:#3500D3;
   border:none;
   border-radius:7px;
   color:white;
  }
  
}
/* The Following CSS affects the dash, header, index, and sidebar */

#dash{
  height:1024px;
  width:1440px;
  background-color: black;
}


.header{
  background-color:#3500D3;
  height:75px;
  margin: auto;
  vertical-align: middle;
  line-height: 75px;
  h2{
    margin:0;
    margin-left:25px;
  }
  .hamburger{
    display:none;
  }
}

.sidebar{
  height:950px;
  width: 176px;
  float:left;
  background-color:#282828;
  text-align:center;
  font-size:30px;
  .linkStyle{
    text-decoration:none;
    color:white;
    margin-top:34px;
    padding-bottom:46px;
    display:inline-block;
  }
  .linkStyle:hover{
    color:red;
  }
  .fa-bars{
    display:none;
  }
}

.hub{
  margin-left:176px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.card{
  height:332px;
  width:332px;
  text-align:center;
  background-color:#240090;
  margin-left:40px;
  margin-top: 82px;
  margin-bottom:123px;
  margin-right:40px;
  h3{
    font-size:36px;
  }
  border-radius: 14px;
}

/* End of that  */

//Media Query for Phones 
@media only screen and (max-width: 768px){
  .header{
    width: 414px;
    display:block;
    h2{
      display:inline-block;
    }
    .fa-bars{
      display: inline-block;
      font-size:30px;
      
    }
    .fa-bars:hover{
      color:red;
    }
  }

  #dash{
    height:auto;
    width: 414px;
  }



  .sidebar{
    width:414px;
    display:none;
  }

  .sidebar-active{
    display:flex;
    margin-top:75px;
  }

  .hub{
    margin: 0 auto;
    margin-top: 26px;
  }

  .card{
    height:487px;
    width:332px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
  
}